@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "MyFont";
		src: url("../public/fonts/NeuePlakExtendedSemiBold.woff2") format("woff2");
		font-style: normal;
	}
}

html,
body {
	padding: 0;
	margin: 0;

	font-family: MyFont, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}

.purple-gradient {
	background: linear-gradient(
		85.83deg,
		#181815 9.84%,
		#140d0f 43.24%,
		#22101f 101.34%,
		#181614 116.63%
	);
}
