@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "MyFont";
		src: url("../public/fonts/NeuePlakExtendedSemiBold.woff2") format("woff2");
		font-style: normal;
	}

	@font-face {
		font-family: "MyFont2";
		src: url("../public/fonts/NeuePlakCondensedSemiBold.woff2") format("woff2");
		font-style: normal;
	}
}

html,
body {
	padding: 0;
	margin: 0;

	/* font-family: MyFont,  -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}

.purple-gradient {
	background: linear-gradient(
		85.83deg,
		#181815 9.84%,
		#140d0f 43.24%,
		#22101f 101.34%,
		#181614 116.63%
	);
}

.ellipse-twelve {
	position: absolute;
	width: 711px;
	height: 711px;
	left: 1119px;
	top: 86px;

	background: #801786;
	opacity: 0.3;
	filter: blur(252px);
}

.ellipse-eleven {
	position: absolute;
	width: 625px;
	height: 625px;
	left: 699px;
	top: -96px;

	background: #c1728d;
	opacity: 0.15;
	filter: blur(252px);
}

.ellipse4 {
	position: absolute;
	width: 456.94px;
	height: 354.22px;
	left: 445.93px;
	top: 235.64px;
	background: #1e1730;
	opacity: 1;
	filter: blur(524px);
}

.ellipse7 {
	position: absolute;
	width: 141.24px;
	height: 141.24px;
	left: -23.85px;
	top: 388.2px;

	background: #b7b3c2;
	opacity: 0.5;
	filter: blur(252px);
}
